---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: infisical-agent-injector
    labels:
        app.kubernetes.io/name: infisical-agent-injector
        app.kubernetes.io/instance: infisical
spec:
    replicas: 1 # todo(daniel): make this configurable and add leader election
    selector:
        matchLabels:
            app.kubernetes.io/name: infisical-agent-injector
            app.kubernetes.io/instance: infisical
    template:
        metadata:
            labels:
                app.kubernetes.io/name: infisical-agent-injector
                app.kubernetes.io/instance: infisical
        spec:
            serviceAccountName: "infisical-agent-injector"
            {{- if .Values.nodeSelector }}
            nodeSelector:
              {{- toYaml .Values.nodeSelector | nindent 14 }}
            {{- end }}
            containers:
                - name: sidecar-injector
                  resources:
                      requests:
                          cpu: 100m
                          memory: 128Mi
                      limits:
                          cpu: 200m
                          memory: 256Mi

                  image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
                  imagePullPolicy: IfNotPresent

                  env:
                      - name: NAMESPACE
                        valueFrom:
                            fieldRef:
                                fieldPath: metadata.namespace
                      - name: POD_NAME
                        valueFrom:
                            fieldRef:
                                fieldPath: metadata.name

                  livenessProbe:
                      httpGet:
                          path: /health/ready
                          port: 8585
                          scheme: HTTPS
                      failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
                      initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
                      periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
                      successThreshold: {{ .Values.livenessProbe.successThreshold }}
                      timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
                  readinessProbe:
                      httpGet:
                          path: /health/ready
                          port: 8585
                          scheme: HTTPS
                      failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
                      initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
                      periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
                      successThreshold: {{ .Values.readinessProbe.successThreshold }}
                      timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}