#!/bin/sh
set -ex

echo "Starting infisical agent..."

{{if eq .ExitAfterAuth true}}

cleanup() {
  kill -TERM "$child" 2>/dev/null
  wait "$child"
  exit 0
}

trap cleanup SIGTERM


timeout {{.TimeoutSeconds}}s infisical agent &
child=$!
wait "$child"

{{else}}
exec infisical agent
{{end}}