replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

failurePolicy: Ignore

image:
  repository: infisical/infisical-agent-injector
  tag: v0.1.3
